@mixin m-font-face ($name, $filename) {
    @font-face {
        font-family: $name;
        src: url("../fonts/#{$filename}.eot") format("eot"),
             url("../fonts/#{$filename}.woff2") format("woff2"),
             url("../fonts/#{$filename}.woff") format("woff"),
             url("../fonts/#{$filename}.ttf") format("truetype"),
             url("../fonts/#{$filename}.svg") format("svg");
    }
}
/*
@font-face {
	font-family: "Samplino";
	src: url("../fonts/boxley-webfont.eot") format("eot"),
		 url("../fonts/boxley-webfont.woff2") format("woff2"),
		 url("../fonts/boxley-webfont.woff") format("woff"),
		 url("../fonts/boxley-webfont.ttf") format("truetype"),
		 url("../fonts/boxley-webfont.svg") format("svg");
}*/

@include m-font-face('boxley', 'boxley-webfont');
