.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1 {
  font-family: 'boxley';
  width: 100%;
}

.user-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 43px;
  margin-top: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 20px;
  color: white;
}

.App-link {
  color: #61dafb;
}

p {
  font-size: 14px;
  margin: 0px;
}

footer {
  background-color: darkslategrey;
  position: absolute;
  bottom: 0px;
  width: 100vw;
}
