.nickname-history {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  padding: 20px;
  width: auto;
  margin-left: 10px;

  .item {
    position: relative;
    display: flex;
  }

  input {
    width: 140px;
  }

  label {
    min-width: 70px;
  }
}
